.container {
    background-color: rgb(45, 126, 52);
    padding: 20px;
    border: 1px solid brown;
    border-radius: 5px;
}
 
p {
    color: red;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}
.p1{
    color: #f0d664;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}